@{
    ViewData["Title"] = "Inicio";
}

<style type="text/css">
    Body {
        Background-color: #F4EDF5;
        Color: black;
    }


    .banner {
        background-color: #409dc4;
        color: white;
    }

    .titulo2 {
        color: darkblue;
    }
</style>

<nav style="padding: 40px;">

    <div class="jumbotron banner">

        
        <h1>Universidad Don Bosco </h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Universidad_don_bosco.jpg/200px-Universidad_don_bosco.jpg" style="float:right;" alt="UDB logo">

    </div>
    <ol class="breadcrumb" style=" width: 850px; ">
        <li width=600px style="color:black; font-size: 18px; font-weight: 600;">Contenido</li>

    </ol>
    <div class="row">
        <div class="col-md-4">
            <h2 class="titulo2">  Bienvenido  </h2>
            <p>
                En dicho proyecto se realizo una amplia investigacion de campo acerca de unos puntos de
                teoricos concretos respecto a asp.net core, en dicho proyecto se dara a conocer que aplicaciones
                utilizan patrones MVVM, cuales son los comandos principales al momento de programar, el como se
                realiza una interfaz de usuario que sea tanto llamativa como estetica y cuales son las diferencias
                entre MVVM y MVC.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="titulo2">¿Como creamos dicho proyecto?</h2>
            <p>
                Como equipo de trabajo seria la primera vez que se trabajaria con ASP.NET
                surgen dudas del como poder incluso crear lo aparentemente sencillo.
                Se realizo una investigacion, partiendo de las bases del dicho programa

                Para mas detalles de nuestras fuentes consulta los siguientes links
            </p>

        </div>
        <div class="col-md-4">
            <h2 class="titulo2">Descarga</h2>
            <p>Si gustas ver lo que hay detras de nuestro proyecto, puedes obtener el codigo aqui  GitHub.</p>
            <p><a class="btn btn-default" href="https://github.com/wilber-chacon/INVESTIGACION2_DSP02T.git">Codigo del proyecto &raquo;</a></p>
        </div>
    </div>
  </nav>
